@page
@model ToDoFinal.web.Pages.NewUserModel
@{
}

    <div class="text-center">
        <h1 class="display-4">Please <a href="/Account/Register">register</a> or <a href="/Account/Login">login</a> to start using our </h1>
        <h1 class="display-4">task management services</h1>
    </div>